/* 版心 */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?stsps9');
	src: url('../fonts/icomoon.eot?stsps9#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?stsps9') format('truetype'),
		url('../fonts/icomoon.woff?stsps9') format('woff'),
		url('../fonts/icomoon.svg?stsps9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
/* 快捷导航模块 */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
.shortcut ul li {
	float: left;
}
.dropdownicon::after {
  font-family: 'icomoon';
	content: '\ea50';
	margin-left: 10px;
}
/* 利用边框和旋转做箭头 */
/* .dropdownicon {
  position: relative;
}
.dropdownicon::after {
  position: absolute;
  top: 13px;
  right: -7px;
  content: '';
  width: 3px;
  height: 3px;
  margin-right: 5px;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  transform:rotate(45deg);
} */
.style_red {
	color: #c81623;
}
/* 左浮动 */
.fl {
	float: left;
}
/* 右浮动 */
.fr {
	float: right;
}
.fr ul li:nth-child(even) {
	width: 1px;
	height: 12px;
	margin: 10px 10px 0 ;
	background-color: #666666;
}
.fr ul li:nth-child(odd) {
  cursor: pointer;
}
.fr ul li:nth-child(odd):hover {
  color: #c81623;
  transform: translateY(1px);
}
.header {
	position: relative;
	height: 105px;
}
.logo {
	position: absolute;
	top: 25px;
	width: 171px;
	height: 61px;
}
.logo a {
	display: block;
	width: 171px;
	height: 61px;
	/* 京东做法 */
	/* font-size: 0px; */
	/* 淘宝做法 */
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/pinyou.png) no-repeat;
}

.search {
  position: absolute;
  top: 25px;
  left: 300px;
  width: 535px;
  height: 36px;
  border: 2px solid #c81623;
  background-color: #ccc;
}
.search input {
  float: left;
  padding: 0  10px;
  width: 450px;
  height: 100%;
}
.search button {
  float: left;
  width: 81px;
  height: 100%;
  color: #ffffff;
  background-color: #c81623;
}
.tuijian {
  position: absolute;
  top: 70px;
  left: 300px;
}
.tuijian ul li {
  float: left;
  margin: 0 15px ;
  transition: all 0.2s;
}
.tuijian ul li a:hover {
  display: block;
  transform: translateY(-1px);
  /* 变形不会影响原来的页面布局 */
  transform: scale(1.2);
}
.tuijian ul li:nth-child(1) {
  margin-left: 5px ;
  color: #c81623;
}
.tuijian ul li:nth-child(1)>a {
  color: #c81623;
}
.mycar {
  position: absolute;
  top: 25px;
  left: 990px;
  width: 140px;
  height: 35px;
  background-color: #f7f7f7;
  border: 2px solid #dfdfdf;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.mycar .buynumber {
  position: absolute;
  top: -4px;
  left: 100px;
  height: 12px;
  min-width: 16px;
  max-width: 24px;
  border-radius: 6px 6px 6px 0;
  background-color: #c81623;
  line-height: 12px;
  color: #ffffff;
}
.mycar .buynumber>p {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:'+';
  transform: scale(.8);
}

.mycar::before {
  float: left;
  margin-left: 20px;
  margin-right: 5px;
  font-family: 'icomoon';
  content: '';
  color: #c81623;
}
.mycar::after {
  float: left;
  font-family: 'icomoon';
  content: '\ea50';
  margin-left: 5px;
  transform: rotate(-90deg);
  font-weight: 700;
  color: #c81623;
}